.Main_chat
  .Main_chat__header
    = render 'main_header'
  .Main_chat__content
    = render @messages
  .Main_chat__form
    = form_with model: [@group, @message], html: {class: "Main_chat__form__contents"}, local: true do |f|
      .Main_chat__form__contents__input
        = f.text_field :content, class: 'Main_chat__form__contents__input__text', placeholder: 'type a message'
        = f.label :image, class: 'Main_chat__form__contents__input__image' do
          = icon('far', 'image', class: 'Main_chat__form__contents__input__icon')
          = f.file_field :image, class: 'Main_chat__form__contents__input__image__file'
      = f.submit 'Send', class: 'Main_chat__form__contents__btn'