.Main
  .Main__Header
    .Title1
      = "#{@user.name}さんとのトークルーム"
  .Main__content
    = render @messages
  .Main__form
    = form_with model: [@group, @message], html: {class: "Main__form__Form"}, local: true do |f|
      .Main__form__contents
        .Main__form__contents__input
          = f.text_area :text, class: 'Main__form__contents__input__text'
          = f.label :image, class: 'Main__form__contents__input__image' do
            = icon('far', 'image', class: 'Main__form__contents__input__icon')
            = f.file_field :image, class: 'Main__form__contents__input__image__file'
        = f.submit '送信', class: 'Main__form__contents__btn'