.Message_main
  .Message_header
    .Title1
      = "#{@user.name}さんとのトークルーム"
  .Main_chat
    .Main_chat__Wrapper
      = render @messages
  .Message_form
    = form_with model: [@group, @message], html: {class: "Message_form__Content"}, local: true do |f|
      .Message_input
        = f.text_area :text, class: 'Message_input__Text'
        = f.label :image, class: 'Message_input__Image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'Message_file_btn'
      = button_tag type: 'submit', class: "Message_submit_btn" do
        = icon('fas', 'paper-plane')