.Message_box
  = link_to posts_g_path(message.user) do
    = image_tag message.user.profile_image.url, fallback: "no-image.jpg", class: "Message_box__User_image"
  .Message_box__Content
    = link_to "#{message.user.name}", posts_g_path(message.user), class: "Link Text Message_box__Content__Name"
    .Message_box__Text.Text
      - if message.text.present?
        = simple_format(message.text)
      - if message.image.present?
        = image_tag message.image.url, class: 'Message__image'