.Message_box{data: {message: {id: message.id}}}
  = link_to user_path(message.user) do
    - if message.user.profile_image?
      = image_tag message.user.profile_image.url, class: "Message_box__User_image"
    - else
      = image_tag "no-image.jpg", class: "Message_box__User_image"
  .Message_box__Content
    .Message_box__Content__Info
      .Message_box__Content__Info__Name
        = link_to "#{message.user.name}", user_path(message.user), class: "Link Text"
      .Message_box__Content__Info__Time.Text_s
        = message.created_at.strftime("%Y年%-m月%-d日 %H:%M")
    .Message_box__Content__Message.Text
      - if message.text.present?
        = simple_format(message.text)
      - if message.image.present?
        = image_tag message.image.url, class: 'Message__image'