.Side_bar
  .Group_box
    -# = attachment_image_tag current_user, :profile_image, fallback: "no-image.jpg", class: "Message_box__User_image"
    = image_tag "itachi.jpg", class: "Group_box__User_image"
    .Message_box__Content
      = link_to "イタチ", posts_g_path(current_user), class: "Link Text Message_box__Content__Name Text_s"
      .Message_box__Text.Text_s
        大丈夫です！ありがとうございます！
  .Group_box
    -# = attachment_image_tag current_user, :profile_image, fallback: "no-image.jpg", class: "Message_box__User_image"
    = image_tag "hinata.jpg", class: "Group_box__User_image"
    .Message_box__Content
      = link_to "hinata", posts_g_path(current_user), class: "Link Text Message_box__Content__Name Text_s"
      .Message_box__Text.Text_s
        xxxxxxxxxxxxxxxxxxxxxxx
  .Group_box
    -# = attachment_image_tag current_user, :profile_image, fallback: "no-image.jpg", class: "Message_box__User_image"
    = image_tag "shikamaru.jpeg", class: "Group_box__User_image"
    .Message_box__Content
      = link_to "しかまる", posts_g_path(current_user), class: "Link Text Message_box__Content__Name Text_s"
      .Message_box__Text.Text_s
        xxxxxxxxxxxxxxxxxxxxxxx
  .Group_box
    -# = attachment_image_tag current_user, :profile_image, fallback: "no-image.jpg", class: "Message_box__User_image"
    = image_tag "ri-.jpg", class: "Group_box__User_image"
    .Message_box__Content
      = link_to "ロック・リー", posts_g_path(current_user), class: "Link Text Message_box__Content__Name Text_s"
      .Message_box__Text.Text_s
        xxxxxxxxxxxxxxxxxxxxxxx
  .Group_box
    -# = attachment_image_tag current_user, :profile_image, fallback: "no-image.jpg", class: "Message_box__User_image"
    = image_tag "tenten.png", class: "Group_box__User_image"
    .Message_box__Content
      = link_to "テンテン", posts_g_path(current_user), class: "Link Text Message_box__Content__Name Text_s"
      .Message_box__Text.Text_s
        xxxxxxxxxxxxxxxxxxxxxxx
  -# - current_user.groups.each do |group|
  -#   .Side_bar__list__box
  -#     = link_to group_messages_path(group), class: "Side_bar__list__box__link" do
  -#       .Side_bar__list__box__group_name
  -#         = group.name
  -#       .Side_bar__list__box__message
  -#         = group.show_last_message