= javascript_include_tag 'post'

.Post_form
  = form_with(model: @post, url: "/posts_g/#{@post.id}", local: true) do |f|
    .Post_form__Content.Text
      = f.label "タイトル"
      %span.Required 必須
      %br/
      = f.text_field :title, autofocus: true, class: "Post_form__Content__Field"
    .Post_form__Content.Text
      = f.label "タグ"
      %span.Required.Non-required 任意
      %span
        = "※スペースかカンマで区切ってください"
      %br/
      = f.text_field :tag_list, value: @post.tag_list.join(' '), class: "Post_form__Content__Field"
    .Post_form__Content.Text
      = f.label "画像"
      %span.Required.Non-required 任意
      %br/
      = f.file_field :image, id: "Post_image_input"
      #Post_image_prev
        - if @post.image?
          = image_tag @post.image.url
    .Post_form__Content.Text
      = f.label "旅行したい場所"
      %span.Required 必須
      %br/
      = f.text_field :region, class: "Post_form__Content__Field"
    .Post_form__Content.Text
      = f.label "希望日時"
      %span.Required 必須
      %br/
      = f.text_field :datetime, class: "Post_form__Content__Field"
    .Post_form__Content.Text
      = f.label "希望料金"
      %span.Required 必須
      %br/
      = f.text_field :charge, class: "Post_form__Content__Field"
    .Post_form__Content.Text
      = f.label "お支払い方法"
      %span.Required 必須
      %br/
      = f.select :payment, [["現地で手渡し"],["事前振り込み"],["事後振り込み"]], prompt: "選択してください"
    .Post_form__Content.Text
      = f.label "リクエスト内容"
      %span.Required 必須
      %br/
      = f.text_area :content, rows: "15", class: "Post_form__Content__Field--Large"
    = f.submit "投稿", class: "Post_form__Btn Btn Text"