= link_to posts_g_path(post) do
  .Post_box.Link
    .Post_box__User_info
      .Post_box__User_info__Image
        - if post.user.profile_image?
          = image_tag post.user.profile_image.url, class: "Post_box__User_info__Image"
        - else
          = image_tag "no-image.jpg", class: "Post_box__User_info__Image"
      .Post_box__User_info__Name.Text
        = post.user.name
    .Post_box__Text.Text
      .Post_box__Text__Lists
        .Post_box__Text__Lists__List 旅行したい国と都市:
        .Post_box__Text__Lists__Content
          = post[:region]
      .Post_box__Text__Lists
        .Post_box__Text__Lists__List 希望日時：
        .Post_box__Text__Lists__Content
          = post[:datetime]
      .Post_box__Text__Lists
        .Post_box__Text__Lists__List リクエスト：
        .Post_box__Text__Lists__Content
          = simple_format(post.content)
      .Post_box__Text__Lists
        .Post_box__Text__Lists__List 希望料金：
        .Post_box__Text__Lists__Content
          = post[:charge]