- if user_signed_in?
  -if current_user.following?(user)
    = link_to relationship_path(user.id), method: :delete, remote: true do
      .White_btn.Following
        .White_btn__Content
          = icon('fas', 'user-check')
          = 'フォロー中'
  - else
    = link_to relationships_path(id: user.id), method: :post, remote: true do
      .White_btn
        .White_btn__Content
          = icon('fas', 'user-plus')
          = 'フォロー'
- else
  = link_to relationships_path(id: user.id), method: :post do
    .White_btn
      .White_btn__Content
        = icon('fas', 'user-plus')
        = 'フォロー'