- visitor = notification.visitor
- visited = notification.visited
- post_g = notification.post_g
- post_c = notification.post_c
- group = notification.group



- case notification.action

- when "message" then
  .User_box
    .User_box__Content
      = link_to user_path(visitor) do
        - if visitor.profile_image?
          = image_tag visitor.profile_image.url, class: "User_box__Content__Image"
        - else
          = image_tag "no-image.jpg", class: "User_box__Content__Image"
      .User_box__Content__Text
        = link_to visitor.name, user_path(visitor)
        = "さんから"
        = link_to "メッセージ", group_messages_path(group, user_id: visitor.id)
        = "が届きました。"
        .Notification_time
          = notification.created_at.strftime("%-m月%-d日 %-H:%M")
      = link_to "×", notification_path(notification.id), method: :delete, class: "User_box__Content__Destroy"
      = icon('fas', 'paper-plane', class: "User_box__Content__Icon")

- when "review" then
  .User_box
    .User_box__Content
      = link_to user_path(visitor) do
        - if visitor.profile_image?
          = image_tag visitor.profile_image.url, class: "User_box__Content__Image"
        - else
          = image_tag "no-image.jpg", class: "User_box__Content__Image"
      .User_box__Content__Text
        = link_to visitor.name, user_path(visitor)
        = "さんがあなたの"
        = link_to "レビュー", user_reviews_path(user_id: current_user.id)
        = "を投稿しました。"
        .Notification_time
          = notification.created_at.strftime("%-m月%-d日 %-H:%M")
      = link_to "×", notification_path(notification.id), method: :delete, class: "User_box__Content__Destroy"
      = icon('fas', 'pen', class: "User_box__Content__Icon")

- when "apply_g" then
  .User_box
    .User_box__Content
      = link_to user_path(visitor) do
        - if visitor.profile_image?
          = image_tag visitor.profile_image.url, class: "User_box__Content__Image"
        - else
          = image_tag "no-image.jpg", class: "User_box__Content__Image"
      .User_box__Content__Text
        = link_to visitor.name, user_path(visitor)
        = "さんがあなたのツアーゲストの投稿"
        = link_to "「#{post_g.title}」", posts_g_path(post_g)
        = "を申し込みました。"
        .Notification_time
          = notification.created_at.strftime("%-m月%-d日 %-H:%M")
      = link_to "×", notification_path(notification.id), method: :delete, class: "User_box__Content__Destroy"
      = icon('fas', 'check-circle', class: "User_box__Content__Icon")

- when "apply_c" then
  .User_box
    .User_box__Content
      = link_to user_path(visitor) do
        - if visitor.profile_image?
          = image_tag visitor.profile_image.url, class: "User_box__Content__Image"
        - else
          = image_tag "no-image.jpg", class: "User_box__Content__Image"
      .User_box__Content__Text
        = link_to visitor.name, user_path(visitor)
        = "さんがあなたのツアーキャストの投稿"
        = link_to "「#{post_c.title}」", posts_c_path(post_c)
        = "を申し込みました。"
        .Notification_time
          = notification.created_at.strftime("%-m月%-d日 %-H:%M")
      = link_to "×", notification_path(notification.id), method: :delete, class: "User_box__Content__Destroy"
      = icon('fas', 'check-circle', class: "User_box__Content__Icon")

- when "cancel_g" then
  .User_box
    .User_box__Content
      = link_to user_path(visitor) do
        - if visitor.profile_image?
          = image_tag visitor.profile_image.url, class: "User_box__Content__Image"
        - else
          = image_tag "no-image.jpg", class: "User_box__Content__Image"
      .User_box__Content__Text
        = link_to visitor.name, user_path(visitor)
        = "さんがあなたのツアーゲストの投稿"
        = link_to "「#{post_g.title}」", posts_g_path(post_g)
        = "をキャンセルしました。"
        .Notification_time
          = notification.created_at.strftime("%-m月%-d日 %-H:%M")
      = link_to "×", notification_path(notification.id), method: :delete, class: "User_box__Content__Destroy"
      = icon('fas', 'times-circle', class: "User_box__Content__Icon")

- when "cancel_c" then
  .User_box
    .User_box__Content
      = link_to user_path(visitor) do
        - if visitor.profile_image?
          = image_tag visitor.profile_image.url, class: "User_box__Content__Image"
        - else
          = image_tag "no-image.jpg", class: "User_box__Content__Image"
      .User_box__Content__Text
        = link_to visitor.name, user_path(visitor)
        = "さんがあなたのツアーキャストの投稿"
        = link_to "「#{post_c.title}」", posts_c_path(post_c)
        = "をキャンセルしました。"
        .Notification_time
          = notification.created_at.strftime("%-m月%-d日 %-H:%M")
      = link_to "×", notification_path(notification.id), method: :delete, class: "User_box__Content__Destroy"
      = icon('fas', 'times-circle', class: "User_box__Content__Icon")

- when "favorite_g" then
  .User_box
    .User_box__Content
      = link_to user_path(visitor) do
        - if visitor.profile_image?
          = image_tag visitor.profile_image.url, class: "User_box__Content__Image"
        - else
          = image_tag "no-image.jpg", class: "User_box__Content__Image"
      .User_box__Content__Text
        = link_to visitor.name, user_path(visitor)
        = "さんがあなたのツアーゲストの投稿"
        = link_to "「#{post_g.title}」", posts_g_path(post_g)
        = "をお気に入りに追加しました。"
        .Notification_time
          = notification.created_at.strftime("%-m月%-d日 %-H:%M")
      = link_to "×", notification_path(notification.id), method: :delete, class: "User_box__Content__Destroy"
      = icon('fas', 'bookmark', class: "User_box__Content__Icon")

- when "favorite_c" then
  .User_box
    .User_box__Content
      = link_to user_path(visitor) do
        - if visitor.profile_image?
          = image_tag visitor.profile_image.url, class: "User_box__Content__Image"
        - else
          = image_tag "no-image.jpg", class: "User_box__Content__Image"
      .User_box__Content__Text
        = link_to visitor.name, user_path(visitor)
        = "さんがあなたのツアーキャストの投稿"
        = link_to "「#{post_c.title}」", posts_c_path(post_c)
        = "をお気に入りに追加しました。"
        .Notification_time
          = notification.created_at.strftime("%-m月%-d日 %-H:%M")
      = link_to "×", notification_path(notification.id), method: :delete, class: "User_box__Content__Destroy"
      = icon('fas', 'bookmark', class: "User_box__Content__Icon")

- when "follow" then
  .User_box
    .User_box__Content
      = link_to user_path(visitor) do
        - if visitor.profile_image?
          = image_tag visitor.profile_image.url, class: "User_box__Content__Image"
        - else
          = image_tag "no-image.jpg", class: "User_box__Content__Image"
      .User_box__Content__Text
        = link_to visitor.name, user_path(visitor)
        = "さんがあなたをフォローしました。"
        .Notification_time
          = notification.created_at.strftime("%-m月%-d日 %-H:%M")
      = link_to "×", notification_path(notification.id), method: :delete, class: "User_box__Content__Destroy"
      = icon('fas', 'user-plus', class: "User_box__Content__Icon")