- visitor = notification.visitor
- visited = notification.visited
- post_g = notification.post_g
- post_c = notification.post_c
- group = notification.group



- case notification.action

- when "message" then
  .Notification1
    = link_to user_path(visitor) do
      - if visitor.profile_image?
        = image_tag visitor.profile_image.url, class: "Notification1__User_image"
      - else
        = image_tag "no-image.jpg", class: "Notification1__User_image"
    .Notification1__Text
      = link_to visitor.name, user_path(visitor)
      = "さんから"
      = link_to "メッセージ", group_messages_path(group, user_id: visitor.id)
      = "が届きました。"
      .Notification_time
        = notification.created_at.strftime("%Y年%-m月%-d日 %H時%M分")
    = link_to "×", notification_path(notification.id), method: :delete, class: "Notification1__Destroy"
    = icon('fas', 'paper-plane', class: "Notification1__Icon")

- when "review" then
  .Notification1
    = link_to user_path(visitor) do
      - if visitor.profile_image?
        = image_tag visitor.profile_image.url, class: "Notification1__User_image"
      - else
        = image_tag "no-image.jpg", class: "Notification1__User_image"
    .Notification1__Text
      = link_to visitor.name, user_path(visitor)
      = "さんがあなたの"
      = link_to "レビュー", user_reviews_path(user_id: current_user.id)
      = "を投稿しました。"
      .Notification_time
        = notification.created_at.strftime("%Y年%-m月%-d日 %H時%M分")
    = link_to "×", notification_path(notification.id), method: :delete, class: "Notification1__Destroy"
    = icon('fas', 'pen', class: "Notification1__Icon")

- when "favorite_g" then
  .Notification1
    = link_to user_path(visitor) do
      - if visitor.profile_image?
        = image_tag visitor.profile_image.url, class: "Notification1__User_image"
      - else
        = image_tag "no-image.jpg", class: "Notification1__User_image"
    .Notification1__Text
      = link_to visitor.name, user_path(visitor)
      = "さんが"
      = "あなたのツアーゲストの投稿"
      = link_to "「#{post_g.title}」", posts_g_path(post_g)
      = "をお気に入りに追加しました。"
      .Notification_time
        = notification.created_at.strftime("%Y年%-m月%-d日 %H時%M分")
    = link_to "×", notification_path(notification.id), method: :delete, class: "Notification1__Destroy"
    = icon('fas', 'bookmark', class: "Notification1__Icon")

- when "favorite_c" then
  .Notification1
    = link_to user_path(visitor) do
      - if visitor.profile_image?
        = image_tag visitor.profile_image.url, class: "Notification1__User_image"
      - else
        = image_tag "no-image.jpg", class: "Notification1__User_image"
    .Notification1__Text
      = link_to visitor.name, user_path(visitor)
      = "さんが"
      = "あなたのツアーキャストの投稿"
      = link_to "「#{post_c.title}」", posts_c_path(post_c)
      = "をお気に入りに追加しました。"
      .Notification_time
        = notification.created_at.strftime("%Y年%-m月%-d日 %H時%M分")
    = link_to "×", notification_path(notification.id), method: :delete, class: "Notification1__Destroy"
    = icon('fas', 'bookmark', class: "Notification1__Icon")