- visitor = notification.visitor
- visited = notification.visited
- post_g = notification.post_g
- post_c = notification.post_c



- case notification.action

- when "favorite_g" then
  .Notification1
    = link_to user_path(visitor) do
      - if visitor.profile_image?
        = image_tag visitor.profile_image.url, class: "Notification_user_image"
      - else
        = image_tag "no-image.jpg", class: "Notification_user_image"
    .Notification1__Text
      %span
        = link_to user_path(visitor) do
          = visitor.name
      = "さんが"
      = "あなたのツアーゲストの投稿"
      %span
        = link_to posts_g_path(post_g) do
          = "「#{post_g.title}」"
      = "をお気に入りに追加しました。"
      .Notification_time
        = notification.created_at.strftime("%Y年%-m月%-d日 %H時%M分")
      = icon('fas', 'bookmark')

- when "favorite_c" then
  .Notification1
    = link_to user_path(visitor) do
      - if visitor.profile_image?
        = image_tag visitor.profile_image.url, class: "Notification_user_image"
      - else
        = image_tag "no-image.jpg", class: "Notification_user_image"
    .Notification1__Text
      %span
        = link_to user_path(visitor) do
          = visitor.name
      = "さんが"
      = "あなたのツアーキャストの投稿"
      %span
        = link_to posts_c_path(post_c) do
          = "「#{post_c.title}」"
      = "をお気に入りに追加しました。"
      .Notification_time
        = notification.created_at.strftime("%Y年%-m月%-d日 %H時%M分")
      = icon('fas', 'bookmark')