.Notification_head
  .Notification_head__Content
    = link_to 'javascript:history.back()' do
      = icon('fas', 'chevron-left', class: "Back_btn")
    .Title 通知一覧
  - if @notifications.exists?
    = link_to notifications_destroy_all_path, data: { confirm: "通知を全て消去しますか？" }, class: "Notification_destroy_all" do
      = icon('fas', 'trash')
      = "全ての通知を消去する"
- if @notifications.exists?
  %hr
  = render @notifications
- else
  .Empty
    = image_tag "foot.jpg", width: "120px"
    %br
    = "通知はありません"