.Title.Form_title
  = link_to 'javascript:history.back()' do
    = icon('fas', 'chevron-left', class: "Back_btn")
  = "プロフィールを編集する"
.Edit_profile_image
  - if current_user.profile_image?
    = image_tag current_user.profile_image.url, class: "Profile_image", id: "Img_prev"
  - else
    = image_tag "no-image.jpg", class: "Profile_image", id: "Img_prev"
.Edit_profile_form
  = form_for(current_user) do |f|
    = f.label :profile_image, "画像を選択", class: "Edit_profile_form__Btn"
    = f.file_field :profile_image, class:"Image_select", style: "display:none;"
    %br
    = f.label "自己紹介文", class: "Profile_label"
    %br/
    = f.text_area :profile, autofocus: true, rows: "10", class: "Form__Content__Field--Large"
    = f.submit "保存", class: "Btn Text"