.Mypage_wrapper
  .Mypage_wrapper__Inner


    -# ========== 上部 ==========
    .Mypage_upper

      -# ========== サイドバー（ユーザー） ==========
      - if user_signed_in? && @user.id == current_user.id
        .Mypage_side_bar
          = link_to groups_path do
            .Mypage_side_bar_row
              = icon('fas', 'paper-plane')
              .Mypage_side_bar_btn
                = "トークルーム"
          = link_to notifications_path do
            .Mypage_side_bar_row
              - if unchecked_notifications.any?
                %span.fa-stack
                  = icon('fas', 'bell',  class: "fa-stack-2x")
                  = icon('fas', 'circle',  class: "fa-stack-1x")
              - else
                = icon('fas', 'bell', class: 'Bell')
              .Mypage_side_bar_btn
                = "通知"
          = link_to edit_user_registration_path do
            .Mypage_side_bar_row
              = icon('fas', 'user-edit')
              .Mypage_side_bar_btn
                = "アカウントの編集"
          = link_to users_sign_out_path, method: :delete, data: { confirm: "ログアウトしますか？" } do
            .Mypage_side_bar_row
              = icon('fas', 'sign-out-alt')
              .Mypage_side_bar_btn
                = "ログアウト"

      -# ========== プロフィール ==========
      .Mypage_upper__Main
        .Profile
          .Profile__Upper
            - if @user.profile_image?
              = image_tag @user.profile_image.url, class: "Profile_image"
            - else
              = image_tag "no-image.jpg", class: "Profile_image"
            .Profile_content
              .Name
                = @user.name
              .Mypage_review
                .Star_rating
                  = image_tag "stars.jpg", class: "Front", width: "#{@user.avg_score*20}%"
                  = image_tag "stars_gray.jpg"
                .Review_info
                  = @user.avg_score
                  = link_to "(#{@count}件のレビュー)", "/users/#{@user.id}/reviews"
              .Mypage_follow_counts
                .Mypage_follow_count
                  %span
                    = "10"
                  = "フォロー"
                .Mypage_follow_count
                  %span
                    = "13"
                  = "フォロワー"
              .Mypage_btns
                - if user_signed_in? && @user.id == current_user.id
                  = link_to "プロフィールの編集", edit_user_path(current_user), class: "White_btn"
                - else
                  = render "follow"
                  - if @group_id.nil?
                    = link_to "メッセージを送る", "/groups/#{@user.id}/create", class: "White_btn"
                  - else
                    = link_to "メッセージを送る", group_messages_path(@group_id, user_id: @user.id), class: "White_btn"
          .Profile__Lower
            = simple_format(@user.profile)


    -# ========== 下部 ==========
    .Mypage_lower

      -# ========== サイドバー（投稿） ==========
      - if user_signed_in? && @user.id == current_user.id
        .Mypage_side_bar
          .Post_type_btns_title_row
            = icon('fas', 'edit', class: 'Post_type_btns_title')
            .Post_type_btns_title 投稿
          .Mypage_side_bar_row
            = link_to "投稿一覧", "#", class: "Mypage_side_bar_btn Post_type_btn Active1"
          .Mypage_side_bar_row
            = link_to "申込あり", "#", class: "Mypage_side_bar_btn Post_type_btn"
          .Mypage_side_bar_row
            = link_to "申込済み", "#", class: "Mypage_side_bar_btn Post_type_btn"
          .Mypage_side_bar_row
            = link_to "お気に入り", "#", class: "Mypage_side_bar_btn Post_type_btn"

      -# ========== 投稿一覧 ==========
      .Mypage_lower__Main
        .User_page_tabs
          = link_to "ツアーゲストの投稿", "#", class: "User_page_tab Active2"
          = link_to "ツアーキャストの投稿", "#", class: "User_page_tab"
        
        .Mypage_lower__Content.Show1
          .User_giving_posts.Show2
            - if @giving_post_gs.empty?
              = render "layouts/empty"
            - else
              .Post_index
                - @giving_post_gs.each do |post|
                  = render partial: "posts_g/post", locals: { post: post }
          .User_giving_posts
            - if @giving_post_cs.empty?
              = render "layouts/empty"
            - else
              .Post_index
                - @giving_post_cs.each do |post|
                  = render partial: "posts_c/post", locals: { post: post }

        .Mypage_lower__Content
          .User_taken_posts.Show2
            - if @taken_post_gs.empty?
              = render "layouts/empty"
            - else
              .Post_index
                - @taken_post_gs.each do |post|
                  = render partial: "posts_g/post", locals: { post: post }
          .User_taken_posts
            - if @taken_post_cs.empty?
              = render "layouts/empty"
            - else
              .Post_index
                - @taken_post_cs.each do |post|
                  = render partial: "posts_c/post", locals: { post: post }

        .Mypage_lower__Content
          .User_taking_posts.Show2
            - if @favorite_gs.empty?
              = render "layouts/empty"
            - else
              .Post_index
                - @taking_post_gs.each do |post|
                  = render partial: "posts_g/post", locals: { post: post }
          .User_taking_posts
            - if @taking_post_cs.empty?
              = render "layouts/empty"
            - else
              .Post_index
                - @taking_post_cs.each do |post|
                  = render partial: "posts_c/post", locals: { post: post }

        .Mypage_lower__Content
          .User_favorite_posts.Show2
            - if @favorite_gs.empty?
              = render "layouts/empty"
            - else
              .Post_index
                - @favorite_gs.each do |post|
                  = render partial: "posts_g/post", locals: { post: post }
          .User_favorite_posts
            - if @favorite_cs.empty?
              = render "layouts/empty"
            - else
              .Post_index
                - @favorite_cs.each do |post|
                  = render partial: "posts_c/post", locals: { post: post }