.Title
  = "#{@user.name}さんのページ"
.Profile
  - if @user.profile_image?
    = image_tag @user.profile_image.url, class: "Profile__Image"
  - else
    = image_tag "no-image.jpg", class: "Profile__Image"
  .Profile__Content
    .Profile__Content__Upper
      .Name
        = @user.name
      .Info_right
        .Star_rating
          = image_tag "stars.jpg", class: "Front", width: "#{@user.avg_score*20}%"
          = image_tag "stars_gray.jpg"
        .Review_info
          = @user.avg_score
          = link_to "(#{@count}件のレビュー)", "/users/#{@user.id}/reviews"
        - if user_signed_in? && @user.id == current_user.id
          = link_to "プロフィールを編集", edit_user_path(current_user), class: "Info_right__Btn"
        - else
          - if @group_id.nil?
            = link_to "メッセージを送る", "/groups/#{@user.id}/create", class: "Info_right__Btn"
          - else
            = link_to "メッセージを送る", group_messages_path(@group_id, user_id: @user.id), class: "Info_right__Btn"
    .Profile__Content__Text.Text
      = simple_format(@user.profile)


.Mypage_lower 
  - if user_signed_in? && @user.id == current_user.id
    .Mypage_lower__Btns
      = link_to "投稿一覧", "#", class: "Post_type_btn Active1"
      = link_to "申込あり", "#", class: "Post_type_btn"
      = link_to "申込済み", "#", class: "Post_type_btn"
  .User_page_tabs
    = link_to "ツアーゲストの投稿", "#", class: "User_page_tab Active2"
    = link_to "ツアーキャストの投稿", "#", class: "User_page_tab"

  
  .Mypage_lower__Content.Show1
    .User_giving_posts.Show2
      - if @giving_post_gs.empty?
        .Empty 投稿がありません
      - else
        .Post_index
          - @giving_post_gs.each do |post|
            = render partial: "posts_g/post", locals: { post: post }
    .User_giving_posts
      - if @giving_post_cs.empty?
        .Empty 投稿がありません
      - else
        .Post_index
          - @giving_post_cs.each do |post|
            = render partial: "posts_c/post", locals: { post: post }

  -# .Mypage_lower__Content
  -#   .User_taken_posts.Show2
  -#     - if @taken_post_gs.empty?
  -#       .Empty 投稿がありません
  -#     - else
  -#       .Post_index
  -#         - @taken_post_gs.each do |post|
  -#           = render partial: "posts_g/post", locals: { post: post }
  -#   .User_taken_posts
  -#     - if @taken_post_cs.empty?
  -#       .Empty 投稿がありません
  -#     - else
  -#       .Post_index
  -#         - @taken_post_cs.each do |post|
  -#           = render partial: "posts_c/post", locals: { post: post }

  .Mypage_lower__Content
    .User_taking_posts.Show2
      - if @taking_post_gs.empty?
        .Empty 投稿がありません
      - else
        .Post_index
          - @taking_post_gs.each do |post|
            = render partial: "posts_g/post", locals: { post: post }
    .User_taking_posts
      - if @taking_post_cs.empty?
        .Empty 投稿がありません
      - else
        .Post_index
          - @taking_post_cs.each do |post|
            = render partial: "posts_c/post", locals: { post: post }