.Title.Form_title パスワードをお忘れの方
.Form
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .Form__Content
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "Form__Content__Field"
    = f.submit "送信", class: "Btn Text"
  = render "devise/shared/links"