.Header.Header_home
  .Header__Content
    = link_to "/", class: "Header_title" do
      %i.fas.fa-shoe-prints.fa-rotate-270.fa-orange
      %span Biita!
    = render "layouts/header_btns"
= render 'layouts/notifications'

.Wrapper
  .Home_wrapper
    .Home_upper
      .Home_upper__Content
        .Home_images
          .Flex
            .Home_image
              = image_tag "home1.jpg"
            .Margin_right
            .Home_image
              = image_tag "home2.jpg"
          .Margin_bottom
          .Flex
            .Home_image
              = image_tag "home3.jpg"
            .Margin_right
            .Home_image
              = image_tag "home4.jpg"
        .Home_right
          .Home_text
            - if user_signed_in?
              .Home_text__Title
                さあ、始めよう。
              .Home_text__Introduction
                新しい旅と出会いが、
                %br{class: "br-s"}
                あなたを待っています。
                %br{class: "br"}
                あなたにぴったりなプランを
                %br{class: "br-s"}
                探してみましょう。
            - else
              .Home_text__Title
                旅と出会いを、
                %br{class: "br-s"}
                もっと気軽に。
              .Home_text__Introduction
                %span Biita!
                は、
                %br{class: "br-s"}
                海外旅行がしたい日本人〈ツアーゲスト〉と
                %br
                旅行の手助けが可能な
                %br{class: "br-s"}
                海外在住者〈ツアーキャスト〉が
                %br
                簡単に出会えるサービスです。
            .Home_btns
              = link_to "ツアーゲストを探す", posts_g_index_path, class: "Home_btn Home_btn1"
              = link_to "ツアーキャストを探す", posts_c_index_path, class: "Home_btn Home_btn2"
    .Home_lower
      .Home_lower__Content
        .Merits_title
          = "- "
          %span> Biita!
          = "の"
          %span> 3
          = "つの特長 -"
        .Merits
          .Merit
            = image_tag "home5.jpg", class: "Home_image"
            .Merit__Title
              %span
                = "1. "
              = "海外でも安心"
            .Merit__Content
              現地をよく知っている日本人が対応するので、日本語が通じない海外でも安心して旅行できます。
          .Merit
            = image_tag "home6.jpg", class: "Home_image"
            .Merit__Title
              %span
                = "2. "
              = "リーズナブル"
            .Merit__Content
              旅行会社を介さず個人と直接契約するので、比較的リーズナブルな価格で利用できます。
          .Merit
            = image_tag "home7.jpg", class: "Home_image"
            .Merit__Title
              %span
                = "3. "
              = "幅広いサービス"
            .Merit__Content
              旅行先での短い距離の車の運転から本格的な観光案内まで、多岐に渡るサービスに対応しています。
  
  .Footer
    .Footer__Content
      = link_to "/", class: "Footer_title" do
        %i.fas.fa-shoe-prints.fa-rotate-270.fa-orange
        %span Biita!
      Copyright © 2020 Biita! All rights reserved.