-# ヘッダー
.Header_r
  .Wrapper_header_r
    .Wrapper_header_r__Content
      = link_to 'javascript:history.back()' do
        = icon('fas', 'chevron-left', class: "Back_btn")
      .Title_r
        = "#{@user.name}さんのレビュー"

    -# タブ
    .Position_r
      = link_to "全て(#{@reviews.count})", "#", class: "Position_r__Name Position_all Active"
      = link_to "ツアーゲスト(#{@review_gs.count})", "#", class: "Position_r__Name Position_g"
      = link_to "ツアーキャスト(#{@review_cs.count})", "#", class: "Position_r__Name Position_c"

    -# 投稿ボタン
    - unless user_signed_in? && current_user.id == @user.id
      = link_to new_user_review_path(@user), class: "Write_review" do
        .White_btn
          .White_btn__Content
            = icon('fas', 'pen', class: 'Review_icon')
            = "レビューを書く"

-# 投稿ボタン（レスポンシブ）
- unless user_signed_in? && current_user.id == @user.id
  = link_to new_user_review_path(@user), class: "Write_review_s" do
    = icon('fas', 'pen', class: 'Review_icon')

-# メイン
.Wrapper_r
  .Wrapper_r_inner
    .Reviews.Show
      - if @reviews.empty?
        = render "layouts/empty"
      - else
        = render @reviews
    .Reviews
      - if @review_gs.empty?
        = render "layouts/empty"
      - else
        = render partial: 'review', collection: @review_gs
    .Reviews
      - if @review_cs.empty?
        = render "layouts/empty"
      - else
        = render partial: 'review', collection: @review_cs

