.Header_r
  = link_to user_path(@user) do
    = icon('fas', 'chevron-left', class: "Back_btn")
  .Wrapper_header_r
    .Title_r
      = "#{@user.name}さんのレビュー"
    .Position_r
      = link_to "全て(#{@reviews.count})", "#", class: "Position_r__Name Active"
      = link_to "ツアーゲスト(#{@review_gs.count})", "#", class: "Position_r__Name"
      = link_to "ツアーキャスト(#{@review_cs.count})", "#", class: "Position_r__Name"
    - unless user_signed_in? && current_user.id == @user.id
      = link_to new_user_review_path(@user), class: "Write_review" do
        = icon('fas', 'pen', class: 'Review_icon')
        %span レビューを書く
.Wrapper_r
  .Wrapper_r_inner
    .Reviews.Show
      - if @reviews.empty?
        = render "layouts/empty"
      - else
        = render @reviews
    .Reviews
      - if @review_gs.empty?
        = render "layouts/empty"
      - else
        = render partial: 'review', collection: @review_gs
    .Reviews
      - if @review_cs.empty?
        = render "layouts/empty"
      - else
        = render partial: 'review', collection: @review_cs