.Header_r
  .Title_r
    = "#{@user.name}さんのレビュー"
  .Main__content_r
    .Wrapper_r
      .Reviews
        = render "review"
  .Main__form
    .Wrapper_r
      = form_with model: [@user, Review.new], html: {class: "New_r"}, local: true do |f|
        .Main__form__contents_r
          .Main__form__contents__input
            = f.text_field :content, class: 'Main__form__contents__input__text Textbox_r'
          = f.submit '送信', class: 'Main__form__contents__btn Submit_r'



-# .Main
-#   .Main__Header
-#     .Title1
-#       = "#{@user.name}さんとのトークルーム"
-#   .Main__content
-#     = render "message"
  -# .Main__form
  -#   = form_with html: {class: "Main__form__Form"}, local: true do |f|
  -#     .Main__form__contents
  -#       .Main__form__contents__input
  -#         = f.text_field :text, class: 'Main__form__contents__input__text'
  -#         = f.label :image, class: 'Main__form__contents__input__image' do
  -#           = icon('far', 'image', class: 'Main__form__contents__input__icon')
  -#           = f.file_field :image, class: 'Main__form__contents__input__image__file'
  -#       = f.submit '送信', class: 'Main__form__contents__btn'



-# = form_with(model: [@tweet, @comment], local: true, id: "new_comment") do |form|
-#         = form.text_area :text, placeholder: "コメントする", rows: "2", class: "textbox"
-#         = form.submit "SEND", class: "form__submit"


    -# = form_with model: [@group, @message], html: {class: "Main_chat__form__contents"}, local: true do |f|
    -#   .Main_chat__form__contents__input
    -#     = f.text_field :content, class: 'Main_chat__form__contents__input__text', placeholder: 'type a message'
    -#     = f.label :image, class: 'Main_chat__form__contents__input__image' do
    -#       = icon('far', 'image', class: 'Main_chat__form__contents__input__icon')
    -#       = f.file_field :image, class: 'Main_chat__form__contents__input__image__file'
    -#   = f.submit 'Send', class: 'Main_chat__form__contents__btn'