.Header_r
  .Title_r
    = "#{@user.name}さんのレビュー"
  .Main__content
    .Wrapper_r
      .Reviews
        = render "review"
  .Main__form
    .Wrapper_r
      = form_with(model: [@review], local: true, id: "New_r") do |f|
        .Main__form__contents
          .Main__form__contents__input
            = f.text_field :content, class: 'Main__form__contents__input__text Textbox_r'
          = f.submit '送信', class: 'Main__form__contents__btn Submit_r'



-# .Main
-#   .Main__Header
-#     .Title1
-#       = "#{@user.name}さんとのトークルーム"
-#   .Main__content
-#     = render "message"
  -# .Main__form
  -#   = form_with html: {class: "Main__form__Form"}, local: true do |f|
  -#     .Main__form__contents
  -#       .Main__form__contents__input
  -#         = f.text_field :text, class: 'Main__form__contents__input__text'
  -#         = f.label :image, class: 'Main__form__contents__input__image' do
  -#           = icon('far', 'image', class: 'Main__form__contents__input__icon')
  -#           = f.file_field :image, class: 'Main__form__contents__input__image__file'
  -#       = f.submit '送信', class: 'Main__form__contents__btn'