- if user_signed_in?
  - if user.id != current_user.id
    - if favorite.empty?
      = link_to posts_c_favorite_cs_path(post.id), method: :post, remote: true do
        = icon('far', 'bookmark', class: "Post_bookmark--Icon")
    - else
      = link_to posts_c_favorite_cs_path(post.id), method: :delete, remote: true do
        = icon('fas', 'bookmark', class: "Post_bookmark--Icon")
- else
  = link_to posts_c_favorite_cs_path(post.id), method: :post do
    = icon('far', 'bookmark', class: "Post_bookmark--Icon")