.Post_form
  = form_with(model: @post, url: "/posts_c/#{@post.id}", local: true) do |f|
    .Post_form__Content.Text
      = f.label "タイトル"
      %span.Required 必須
      %br/
      = f.text_field :title, autofocus: true, class: "Post_form__Content__Field"
    .Post_form__Content.Text
      = f.label "タグ"
      %span.Required.Non-required 任意
      %span
        = "※スペースかカンマで区切ってください"
      %br/
      = f.text_field :tag_list, value: @post.tag_list.join(' '), class: "Post_form__Content__Field"
    .Post_form__Content.Text
      = f.label "対応可能な場所"
      %span.Required 必須
      %br/
      = f.text_field :region, class: "Post_form__Content__Field"
    .Post_form__Content.Text
      = f.label "対応可能な日時"
      %span.Required 必須
      %br/
      = f.text_field :datetime, class: "Post_form__Content__Field"
    .Post_form__Content.Text
      = f.label "対応可能な料金"
      %span.Required 必須
      %br/
      = f.text_field :charge, class: "Post_form__Content__Field"
    .Post_form__Content.Text
      = f.label "お支払い方法"
      %span.Required 必須
      %br/
      = f.select :payment, [["現地で手渡し"],["事前振り込み"],["事後振り込み"]], prompt: "選択してください"
    .Post_form__Content.Text
      = f.label "対応可能なリクエスト内容"
      %span.Required 必須
      %br/
      = f.text_area :content, rows: "15", class: "Post_form__Content__Field--Large"
    = f.submit "投稿", class: "Post_form__Btn Btn Text"