.Post_box
  .Post_box__User_info
    .Post_box__User_info__Image
      = attachment_image_tag post.user, :profile_image, fallback: "no-image.jpg", class: "Post_box__User_info__Image"
    .Post_box__User_info__Name.Text
      = link_to "#{post.user.name}", posts_g_path(post.user), class: "Link"
  .Post_box__Text.Text
    .Post_box__Text__Lists
      .Post_box__Text__Lists__List 対応可能な国と都市:
      .Post_box__Text__Lists__Content
        = post[:region]
    .Post_box__Text__Lists
      .Post_box__Text__Lists__List 対応可能な日時：
      .Post_box__Text__Lists__Content
        = post[:datetime]
    .Post_box__Text__Lists
      .Post_box__Text__Lists__List 対応可能なリクエスト：
      .Post_box__Text__Lists__Content
        = post[:content]
    .Post_box__Text__Lists
      .Post_box__Text__Lists__List 対応可能な料金：
      .Post_box__Text__Lists__Content
        = post[:charge]