.Post_index_wrapper
  .Post_index_wrapper__Inner
    .Post_index_left
      .Search_title.Bold
        条件を絞り込む
      .Keyword
        = form_with(url: posts_c_index_path, local: true, method: :get, class: "Keyword__Form") do |f|
          .Keyword__Form__Input
            = f.text_field :keyword, placeholder: "キーワードを入力", class: "Keyword__Form__Input__Text"
            = button_tag type: 'submit', class: "Keyword__Form__Input__Btn" do
              = icon('fas', 'search')
      .Tag_list
        - @tags.each do |tag|
          = link_to posts_c_index_path(tag_name: tag) do
            .tag.Text
              = tag
    .Post_index_right
      .Title ツアーキャストの投稿一覧
      - if @posts.empty?
        = render "layouts/empty"
      - else
        .Post_index
          - @posts.each do |post|
            = render partial: "post", locals: { post: post }