.Post_index_Upper
  .Post_index_Upper__Title ツアーキャストの投稿一覧
  .Search
    = form_with(url: search_posts_c_index_path, local: true, method: :get, class: "Search__Form") do |f|
      .Search__Form__Input
        = f.text_field :keyword, placeholder: "キーワードで検索", class: "Search__Form__Input__Text"
        = button_tag type: 'submit', class: "Search__Form__Input__Btn" do
          = icon('fas', 'search')
- if @posts.empty?
  .Empty 投稿されていません
- else
  .Post_index
    - @posts.each do |post|
      = render partial: "post", locals: { post: post }