!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title Biita!
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyAKjQ5iQKIy6xo1Cp2Iqb7NMe9GYy38HmU"}
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag('favicon.ico')
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    = render 'layouts/header'
    = render 'layouts/notifications'
    .Wrapper
      .Wrapper__Inner
        = yield