!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title Biita
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    %header.Header
      %div.Header__bar
        %h1
          = link_to "/", class: "Header__bar__title" do
            %i.fas.fa-shoe-prints.fa-rotate-270.fa-orange
            %span Biita!
        - if user_signed_in?
          .Header__bar__btns
            .Menu_box
              .Header__bar__btns__btn.New_post 投稿する
              .Menu
                %ul
                  %li.Menu__post
                    %a.Text{href: new_posts_g_path} ツアーゲストとして投稿する
                  %li.Menu__post
                    %a.Text{href: new_posts_c_path} ツアーキャストとして投稿する
            = link_to "マイページ", "/posts_g/#{current_user.id}", class: "Header__bar__btns__btn"
            = link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" }, class: "Header__bar__btns__btn"
        - else
          .Header__bar__btns
            .Menu_box
              .Header__bar__btns__btn.New_post 投稿する
              .Menu
                %ul
                  %li.Menu__post
                    %a.Text{href: new_posts_g_path} ツアーゲストとして投稿する
                  %li.Menu__post
                    %a.Text{href: new_posts_c_path} ツアーキャストとして投稿する
            = link_to "新規登録", new_user_registration_path, class: "Header__bar__btns__btn"
            = link_to "ログイン", new_user_session_path, class: "Header__bar__btns__btn"

    = render 'layouts/notifications'
    = yield
